/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/

@import "null.css";

body {}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.header {
}

.main {
}

.footer {
}
